<div class="flex justify-between">
  <h2 mat-dialog-title>Upload video</h2>
  <span
    class="material-symbols-outlined cursor-pointer text-3xl"
    mat-dialog-close
  >
    close
  </span>
</div>
<mat-divider role="separator"></mat-divider>
<mat-dialog-content class="mat-typography">
  <ngx-file-drop
    class="drop-file"
    (onFileDrop)="log($event)"
    (onFileOver)="log($event)"
    (onFileLeave)="log($event)"
  >
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
    >
      <div class="flex flex-col items-center vw-60 px-10">
        <div class="flex items-center justify-center h-40 w-80">
          <span
            class="material-symbols-outlined text-9xl cursor-pointer"
            (click)="openFileSelector()"
          >
            download
          </span>
        </div>

        <div class="flex flex-col items-center mb-7">
          <h3 class="drag-text mb-1">Drag and drop video files to upload</h3>
          <h4>Your videos will remain private until you post them.</h4>
          <button mat-raised-button (click)="openFileSelector()">
            Select file
          </button>
        </div>
        <h4 class="mt-4">
          By uploading your videos to YouTube, you confirm that you agree to
          <span class="text-blue-500">YouTube's Terms of Service</span> and
          Community Guidelines. Make sure you're not infringing on other
          people's copyright or privacy rights. Find out more
        </h4>
      </div>
    </ng-template>
  </ngx-file-drop>
</mat-dialog-content>
