<mat-nav-list role="list" class="nav-list">
  <mat-list-item role="listitem">
    <p matListItemLine class="m-0 text-black font-thin">Home</p>
    <mat-icon matListItemIcon  class="p-0 mr-4 text-black list-icon">home</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p matListItemLine class="m-0 text-black font-thin">Subscriptions</p>
    <mat-icon matListItemIcon  class="p-0 mr-4 text-black list-icon">subscriptions</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
    <p matListItemLine class="m-0 text-black font-thin">History</p>
    <mat-icon matListItemIcon  class="p-0 mr-4 text-black list-icon">history</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p matListItemLine class="m-0 text-black font-thin">Liked videos</p>
    <mat-icon matListItemIcon  class="p-0 mr-4 text-black list-icon">thumb_up</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p matListItemLine class="m-0 text-black font-thin">Home</p>
    <mat-icon matListItemIcon  class="p-0 mr-4 text-black list-icon">home</mat-icon>
  </mat-list-item>
  
</mat-nav-list>